/* src/app/(public)/music/_components/highlightCarousel/HighlightCarousel.css */

/* Esconde a barra de rolagem para navegadores baseados em Webkit (Chrome, Safari, Edge) */
.swiper-wrapper::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Esconde a barra de rolagem para Firefox */
.swiper-wrapper,
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Estilos para os pontos de paginação do Swiper (bullet customizado) */
.swiper-pagination-bullet-custom {
  height: 8px; /* h-2 */
  width: 8px; /* w-2 */
  border-radius: 9999px; /* rounded-full */
  background-color: #d1d5db; /* bg-gray-300 */
  margin-left: 4px; /* mx-1 (metade) */
  margin-right: 4px; /* mx-1 (metade) */
  display: inline-block; /* inline-block */
  cursor: pointer; /* cursor-pointer */
  transition-property: all; /* transition-colors */
  transition-duration: 300ms; /* transition-colors */
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* ease-in-out */
}

/* Estilos para o ponto de paginação ATIVO do Swiper */
.swiper-pagination-bullet-active-custom {
  background-color: #4b5563; /* bg-gray-700 */
}

/* Estilos para os botões de navegação do Swiper (para remover o after content) */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem;
  font-weight: bold;
  color: #868686;
  border-radius: 100%;
  padding: 0.8rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: 300ms;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #4b5563;
}
